{% extends "::base.html.twig" %}
{% block  title %}Accueil{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Liste des 5 derniers produits</span>
                        <table class="bordered responsive-table striped">
                            <thead>
                            <tr>
                                <th data-field="id">#</th>
                                <th data-field="name">Nom du produit</th>
                                <th data-field="action">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for p in products %}
                                    <tr>
                                        <td>{{ p.id }}</td>
                                        <td>{{ p.name }}</td>
                                        <td><a href="{{ path('products_default_show', {'id':p.id}) }}">Voir</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{ render(controller('GeneralBundle:Default:getStockPast')) }}
        </div>
    </div>
{% endblock %}