{% extends '::base.html.twig' %}
{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            {{ form_start(form) }}
            <div class="card-content">
                <span class="card-title">Ajouter un produit</span>
                <p>
                <div class="input-field">
                    {{ form_widget(form.name, {'attr': {'class':'validate'}}) }}
                    <label for="form_name">Nom du produit</label>
                </div>
                <div class="input-field">
                    {{ form_widget(form.description, {'attr':{'class':'materialize-textarea'}})}}
                    <label for="form_description">Description</label>
                </div>
                <div class="input-field">
                    {{ form_widget(form.tpsLimit, {'attr':{'class':'validate' }}) }}
                    <label for="form_tpsLimit">Temps moyen avant expiration du produit</label>
                </div>
                <div class="file-field input-field">
                    <div class="btn wl-green">
                        <span>Image</span>
                        {{ form_widget(form.file) }}
                    </div>
                    <div class="file-path-wrapper">
                        <input type="text" class="file-path validate">
                    </div>
                </div>
                </p>
            </div>
            <div class="card-action">
                <input type="submit" class="btn waves-effect waves-light wl-green">
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}