{% extends '::base.html.twig' %}
{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Liste des produits</span>
                <table class="bordered responsive-table striped">
                    <thead>
                    <tr>
                        <th data-field="id">#</th>
                        <th data-field="name">Nom du produit</th>
                        <th data-field="action">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for p in products %}
                        <tr>
                            <td>{{ p.id }}</td>
                            <td>{{ p.name }}</td>
                            <td><a href="{{ path('products_default_show', {'id':p.id}) }}">Voir</a> - <a href="{{ path('products_stock_addstockproduct', {'id':p.id}) }}">Ajouter au stock</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}