{% extends '::base.html.twig' %}
{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-image">
                <img src="{{ asset('uploads/products/'~product.path ) }}" alt="">
                <span class="card-title">{{ product.name }}</span>
            </div>
            <div class="card-content">
                <p>
                    {{ product.description|raw|nl2br }}
                </p>
                <p>Temps moyen avant expiration : <em>{{ product.tpsLimit }} jours</em></p>
            </div>
            <div class="card-action">
                <a href="{{ path('products_default_edit', {'id': product.id}) }}" class="btn wl-green">Editer</a>
                <a href="{{ path('products_stock_addstockproduct', {'id': product.id}) }}" class="btn blue">Ajouter au stock</a>
                <a href="{{ path('products_default_delete', {'id': product.id}) }}" class="btn red">Supprimer</a>
            </div>
        </div>
    </div>
{% endblock %}