{% extends '::base.html.twig' %}
{% block title %}Ajouter {{ product.name }} au stock{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            {{ form_start(form) }}
            <div class="card-content">
                <span class="card-title">Ajouter {{ product.name }} au stock</span>
                <p>
                <div class="input-field">
                    {{ form_widget(form.date, {'attr':{'class':'datepicker'}})}}
                    <label for="form_date">Date d'expiration</label>
                </div>
                </p>
            </div>
            <div class="card-action">
                <input type="submit" class="btn waves-effect waves-light wl-green">
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}