<div class="col s6">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Liste des 5 produits à ne pas consommer</span>
            <table class="bordered responsive-table striped">
                <thead>
                <tr>
                    <th data-field="id">#</th>
                    <th data-field="name">Nom du produit</th>
                    <th data-field="date">Date d'expiration</th>
                    <th data-field="action">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for s in stocks %}
                    <tr>
                        <td>{{ s.id }}</td>
                        <td>{{ s.product.name }}</td>
                        <td>{{ s.date|date('d/m/y') }}</td>
                        <td><a href="{{ path('products_stock_removestock', {'id':s.id}) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>