{% extends '::base.html.twig' %}
{% block title %}Mon stock{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Mon stock</span>
                <table class="bordered responsive-table striped">
                    <thead>
                    <tr>
                        <th data-field="id">#</th>
                        <th data-field="name">Nom du produit</th>
                        <th data-field="date">Date d'expiration</th>
                        <th data-field="action">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in stocks %}
                        <tr>
                            <td>{{ s.id }}</td>
                            <td>{{ s.product.name }}</td>
                            <td class="{% if "now"|date('d/m/Y') > s.date|date('d/m/Y') %}red-text{% elseif "now"|date('d/m/Y') <= s.date|date('d/m/Y') and s.date|date('d/m/Y') <= "now"|date('d/m/Y')|date_modify("+7 day")|date('d/m/Y') %}orange-text{% endif %}">{{ s.date|date('d/m/Y') }}</td>
                            <td><a href="{{ path('products_default_show', {'id':s.product.id}) }}">Voir</a> - <a href="{{ path('products_stock_removestock', {'id':s.id}) }}">Enlever du stock</a></td>
                        </tr>

                        {% else %}
                        <tr>
                            <td colspan="4"><center>Votre stock est vide !</center></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}