<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} - WasteLess</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block nav %}{% include "::nav.html.twig" %}{% endblock %}
        {% block body %}{% endblock %}
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large wl-green" title="Ajouter ...">
                <i class="large material-icons">add</i>
            </a>
            <ul>
                <li><a class="btn-floating red" href="{{ path('products_default_create') }}" title="Ajouter un produit"><i class="fa fa-cube"></i></a></li>
                <li><a class="btn-floating wl-green" href="{{ path('products_stock_addstocknoproduct') }}" title="Ajouter un produit au stock"><i class="fa fa-cubes"></i></a></li>
            </ul>
        </div>
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
        <script src="https://use.fontawesome.com/2b601dc4b7.js"></script>
        <script>
            $(document).ready(function(){
                $(".button-collapse").sideNav();
                $(".dropdown-button").dropdown({
                    belowOrigin: true
                });
                $('select').material_select();
                $('.datepicker').pickadate({
                    selectMonths: true,
                    selectYears: 15,
                    formatSubmit:'dd/mm/yyyy'
                });
            });
        </script>
    </body>
</html>
