<ul id="userdropdown" class="dropdown-content dropdown-content-nav">
    <li><a href="{{ path('fos_user_security_logout') }}" class="red-text">Déconnexion</a></li>
</ul>
<nav>
    <div class="nav-wrapper">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <a href="#" class="brand-logo">
            <img src="{{ asset('img/logo.png') }}" alt="">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="dropdown-button" href="#!" data-activates="userdropdown">
                    <img src="{{ gravatar(app.user.email,64) }}" alt="">
                </a></li>
        </ul>
    </div>
    <ul id="slide-out" class="side-nav">
        <li><a href="{{ path('general_homepage') }}">Mon tableau de bord</a></li>
        <li><a href="{{ path('products_stock_index') }}">Mon stock</a></li>
        <li><a href="{{ path('products_default_index') }}">Liste des produits</a></li>
    </ul>
</nav>
