nav {
    background-color: #79b031 !important;
}

.nav-wrapper .brand-logo img {
    height: 64px;
}

@media only screen and (min-width: 993px) {
    nav a.button-collapse {
        display: block;
    }
}

nav ul a {
    padding: 0 !important;
    height: 64px !important;
}

.dropdown-content-nav {
    width: 125px !important;
}

.dropdown-content-nav li>a {
    padding: 14px 16px !important;
}

nav ul#slide-out a:hover {
    background-color: transparent;
}

.button-collapse:hover {
    background-color: rgba(0,0,0,0.1);
}

.wl-green {
    background-color: #79b031 !important;
}