{% extends "::baseLog.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
        <div class="container" style="margin-top: 50px;">
            <div class="section">
                <div class="row">
                    <div class="col s4 offset-s4">
                        <div class="card">
                            <form action="{{ path("fos_user_security_check") }}" method="post">
                                <div class="card-content">
                                    <span class="card-title center">Connexion</span>
                                    <p>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                                    <div class="input-field">
                                        <input type="text" class="validate" id="username" name="_username"
                                               value="{{ last_username }}" required="required" tabindex="1" autofocus>
                                        <label for="username">Nom d'utilisateur</label>
                                    </div>
                                    <div class="input-field">
                                        <input type="password" class="validate" id="password" name="_password"
                                               required="required" tabindex="2">
                                        <label for="password">Mot de passe</label>
                                    </div>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" checked="checked">
                                        <label for="remember_me">Se souvenir de moi</label>
                                    </p>
                                </div>
                                <div class="card-action">
                                    <input type="submit" id="_submit" name="_submit" value="Se connecter" class="waves-effect waves-light btn">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {#<form action="{{ path("fos_user_security_check") }}" method="post">#}
                    {#<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />#}

                    {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
                    {#<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />#}

                    {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
                    {#<input type="password" id="password" name="_password" required="required" />#}

                    {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
                    {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}

                    {#<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
                {#</form>#}
            </div>
        </div>
{% endblock %}
